<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{message}}</h1>
    <ul>
        {% for item in data_list %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
    <a>{{data_list.0}}</a>
    <p>{{xx.age}}</p>
    <p>{{xx.name}}</p>
<ul>
    {% for item in xx.keys %}
        <li>{{item}}</li>
    {% endfor %}
</ul>
    <hr/>
<ul>
    {% for item in xx.values %}
        <li>{{item}}</li>
    {% endfor %}
</ul>
 <hr/>
<ul>
    {% for k,v in xx.items %}
        <li>{{k}}: {{v}}</li>
    {% endfor %}
</ul>
</body>
</html>